<!-- <html> 
<head><title>Pics</title></head> -->


<div>
<button id="next-button"> <- </button>
<br>
<div id="pics" >
</div>
</div>
hi

<script>src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<img src="<%= asset_path( '1509_728.jpg' ) %>" />


<!-- <script type="text/javascript" src="javascripts/pic_caller.js"></script> 
hi
 -->
<!-- <div>
<button id="next-button"> -> </button>
</div>  -->


<!-- </html> -->

