<!DOCTYPE html>
<html>
<head>
  <title>Photo Book</title>
</head>

<body>
<script type="text/javascript" src="javascripts/pic_caller.js"></script>

     
<h1>Intel 2013 Conference Moments</h1>
<p>Click to Start</p>

<div>
  <button id="next-button"> <- </button>
  <br>
  <div id="pics" ></div>
</div>
<br>

 


<div>
  <button id="next-button"> -> </button>
</div> 

</body>


</html> 

